<div class="container">
    <form>
  <p class="h4 text-center mb-4">Add a new model to the list</p>

  <!-- Default input name -->
  <label for="defaultFormContactNameEx" class="grey-text" >Name of the model</label>
  <input type="text" name="1" [(ngModel)]="NameInput" placeholder="Model name" class="form-control">
  
  <br>

  <!-- Default input email -->
  <label for="defaultFormContactEmailEx" class="grey-text">Type</label>
  <form action="">
      <input type="radio" name="1" [(ngModel)]="TypeData" value="AEG" > AEG<br>
      <input type="radio" name="2" [(ngModel)]="TypeData" value="AEP"> AEP<br>
      <input type="radio" name="3" [(ngModel)]="TypeData" value="Spring"> Spring<br>
      <input type="radio" name="4" [(ngModel)]="TypeData" value="GBB"> GBB<br>
      <input type="radio" name="5" [(ngModel)]="TypeData" value="Solenoidengine"> Solenoid engine<br>
      <input type="radio" name="6" [(ngModel)]="TypeData" value="Launcher"> Launcher<br>
      <input type="radio" name="7" [(ngModel)]="TypeData" value="Others"> Others
    </form>
  <br>

  <!-- Default input subject -->
  <label for="defaultFormContactSubjectEx" class="grey-text">operatingsystem</label>
  <form action="">
      <input type="radio" name="1" [(ngModel)]="OSdata" value="AssaultRifle"> Assault Rifle<br>
      <input type="radio" name="2" [(ngModel)]="OSdata" value="Sniper"> Sniper<br>
      <input type="radio" name="3" [(ngModel)]="OSdata" value="Pistol"> Pistol<br>
      <input type="radio" name="4" [(ngModel)]="OSdata" value="LMG"> LMG<br>
      <input type="radio" name="5" [(ngModel)]="OSdata" value="SMG"> SMG<br>
      <input type="radio" name="6" [(ngModel)]="OSdata" value="Launcher"> Launcher<br>
      <input type="radio" name="7" [(ngModel)]="OSdata" value="Others"> Others
    </form>
    <br>

  <label for="defaultFormContactSubjectEx" class="grey-text">Propulsionstyle</label>
  <form action="">
      <input type="radio"name="1" [(ngModel)]="Propulsiondata" value="Spring"> Spring<br>
      <input type="radio"name="2" [(ngModel)]="Propulsiondata" value="Gas"> Gas
    </form>
    <br>

    <label for="defaultFormContactSubjectEx" class="grey-text">Propulsionstyle</label>
    <form *ngFor= "let brand of brands" action="">
        <input type="radio"name="brand.specialization" [(ngModel)]="BrandId" value="brand.name"> {{brand.name}}<br>
      </form>

  
  <div class="text-center mt-4">
      <button (click)="OnCheck()"class="btn btn-outline-warning" type="button">Send<i class="fa fa-paper-plane-o ml-2"></i></button>
  </div>
</form>
</div>
