<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">Search</div>
            <div class="card-block">
                <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2" #searchinput>
                <div class="input-group-append">
                <button class="btn btn-success" type="button" (click)="ActivateSearch(searchinput.value)">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col -8">
        <h1>Country's of the world Database</h1>
        <p>On this simple website you're able to get some basic information about the plethera of country's in the world </p>
    </div>
</div>       
<div class="row">
    <div class="card" *ngIf="countrys">
      <div class="card-header">HomePage</div>
      <div class="card-block">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Land</th>
                      <th >Hoofdstad</th>
                      <th >Populatie</th>
                      <th >Regio</th>
                      <th >subregio</th>
                  </tr>
              </thead>
              <tbody >
                  <tr (click)="DetailedSearch(country.name)" *ngFor="let country of countrys | paginate: { itemsPerPage: 10 , currentPage: p}">
                      <td >{{country.name}}</td>
                      <td >{{country.capital}}</td>
                      <td >{{country.population | number:'3.0-1'}}</td>
                      <td >{{country.region}}</td>
                      <td >{{country.subregion}}</td>
                  </tr>
              </tbody>
              <pagination-controls class="myPagination" (pageChange)="p = $event "></pagination-controls>
          </table>
      </div>
    </div>
</div>


